@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;900&display=swap");

body {
  margin: 0;
  padding: 0 8% 0 8%;
  font-family: "Heebo";
  font-family: "Heebo", sans-serif;
  background: none;
}

.header {
  margin-top: 30px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Style the navigation bar */
nav {
  color: #000;
  display: flex;
  justify-content: space-between; /* Distribute items evenly */
  align-items: center; /* Vertically center items */
  padding: 10px;
}

nav .logo img {
  max-height: 40px; /* Adjust the maximum height of the logo */
}

nav ul {
  display: flex; /* Make the list items horizontal */
}

nav a {
  text-decoration: none;
  color: #000f;
  padding: 10px 20px;
}

nav .button a {
  background-color: green;
  color: #000;
  padding: 10px 20px;
  text-decoration: none;
}

.home,
.landing-page-image {
  display: inline-block;
  width: 45%; /* Adjust the width as needed */
  vertical-align: top; /* Align the divs at the top */
  margin-right: 10px; /* Add some space between the divs (optional) */
  margin-top: 8%;
  background-color: none; /* Background color for the divs */
  padding: 20px; /* Add padding to the divs (optional) */
}

.home-content h1 {
  font-weight: 800;
  font-size: 60px;
  margin: 0;
}

.home-content h3 {
  font-weight: 600;
  font-size: 20px;
  margin: 0;
}

.home-content p {
  font-weight: normal;
  font-size: 20px;
  margin: 0;
}

 .button {
  --color: #0077ff;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  margin: 20px;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
}

 .button::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

 .button:hover {
  color: white;
}

 .button:before {
  top: 100%;
  left: 100%;
  transition: .3s all;
}

.button:hover::before {
  top: -30px;
  left: -30px;
}