body {
  margin: 0px;
  font-family: "Heebo";
  font-family: "Heebo", sans-serif;
}

.container {
  max-width: 1320px;
  margin: 0px auto;
}

.banner .custom-image {
  margin: 6rem;
  max-width: 50vw;
}