@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;900&display=swap");

body {
  margin: 0;
  padding: 0 8% 0 8%;
  font-family: "Heebo";
  font-family: "Heebo", sans-serif;
  background: none;
}

.header {
  margin-top: 30px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Style the navigation bar */
nav {
  color: #000;
  display: flex;
  justify-content: space-between; /* Distribute items evenly */
  align-items: center; /* Vertically center items */
  padding: 10px;
}

nav .logo img {
  max-height: 40px; /* Adjust the maximum height of the logo */
}

nav ul {
  display: flex; /* Make the list items horizontal */
}

nav a {
  text-decoration: none;
  color: #000f;
  padding: 10px 20px;
}

nav .switch a {
  background-color: green;
  color: #000;
  padding: 10px 20px;
  text-decoration: none;
}

.home,
.landing-page-image {
  display: inline-block;
  width: 45%; /* Adjust the width as needed */
  vertical-align: center; /* Align the divs at the top */
  margin-right: 10px; /* Add some space between the divs (optional) */
  margin-top: 10%;
  background-color: none; /* Background color for the divs */
  padding: 20px; /* Add padding to the divs (optional) */
}

.home-content h1 {
  font-weight: 800;
  font-size: 60px;
  margin: 0;
}

.home-content h3 {
  font-weight: 600;
  font-size: 20px;
  margin: 0;
}

.home-content p {
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  padding-bottom: 10px;
}

.button {
  --width: 100px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #1163ff;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
}

.button::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: var(--tooltip-color);
  font-size: 0.9rem;
  color: #111;
  border-radius: .25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.button::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--tooltip-color);
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button::after,.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,.text,.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0
}

.text,.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.button:hover {
  background: #6c18ff;
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:before,.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}
