@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;900&display=swap");

body {
  margin: 0;
  padding: 0 8% 0 8%;
  font-family: "Heebo";
  font-family: "Heebo", sans-serif;
  background: none;
}

.header {
  margin-top: 30px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Style the navigation bar */
nav {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between; /* Distribute items evenly */
  align-items: center; /* Vertically center items */
  padding: 10px;
}

nav .logo img {
  max-height: 40px; /* Adjust the maximum height of the logo */
}

nav ul {
  display: flex; /* Make the list items horizontal */
}

nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
}

nav .switch {
  --switch-width: 3.5em;
  --switch-height: calc(var(--switch-width) / 2);
  --left-ball-color: black;
  --right-ball-color: white;
  width: var(--switch-width);
  height: var(--switch-height);
  border-radius: calc(var(--switch-height) / 2);
  background-color: var(--left-ball-color);
  position: relative;
  overflow: hidden;
}

nav .switch input[type="checkbox"] {
  width: 100%;
  position: absolute;
  height: 100%;
  margin: 0;
  opacity: 0;
}

nav .switch .left {
  position: absolute;
  width: calc(var(--switch-width) / 3);
  height: calc(var(--switch-height) / 1.5);
  background-color: var(--left-ball-color);
  border-radius: 50%;
  left: calc((var(--switch-height) - (var(--switch-height) / 1.5)) / 2);
  top: calc((var(--switch-height) - (var(--switch-height) / 1.5)) / 2);
  z-index: 2;
  pointer-events: none;
}

nav .switch .right {
  position: absolute;
  width: calc(var(--switch-width) / 3);
  height: calc(var(--switch-height) / 1.5);
  background-color: var(--right-ball-color);
  border-radius: 50%;
  right: calc((var(--switch-height) - (var(--switch-height) / 1.5)) / 2);
  top: calc((var(--switch-height) - (var(--switch-height) / 1.5)) / 2);
  z-index: 2;
  pointer-events: none;
}

nav .switch .switcher {
  position: absolute;
  width: calc(100% + var(--switch-width) / 3);
  height: 100%;
  background-color: var(--right-ball-color);
  z-index: 1;
  left: calc(-50% + var(--switch-width) / (3 * 2));
  pointer-events: none;
  transition: left 500ms ease;
  border-top-left-radius: calc(var(--switch-width) / 3);
  border-bottom-left-radius: calc(var(--switch-width) / 3);
}

nav .switch .switcher:before {
  position: absolute;
  content: "";
  width: calc(var(--switch-width) / 3);
  height: 100%;
  background-color: var(--left-ball-color);
  display: block;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  z-index: 2;
}

nav .switch .switcher:after {
  position: absolute;
  content: "";
  width: calc(var(--switch-width) / 3);
  height: 100%;
  background-color: var(--right-ball-color);
  display: block;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}

nav .switch input:checked ~ .switcher {
  left: 100%;
}

nav .switch input:checked ~ .switcher:before {
  display: none;
}
.home,
.landing-page-image {
  display: inline-block;
  width: 45%; /* Adjust the width as needed */
  vertical-align: center; /* Align the divs at the top */
  margin-right: 20px; /* Add some space between the divs (optional) */
  margin-top: 8%;
  background-color: none; /* Background color for the divs */
  padding: 20px; /* Add padding to the divs (optional) */
}

.home-content h1 {
  font-weight: 800;
  font-size: 55px;
  margin: 0;
}
.home-content h3 {
  font-weight: 600;
  font-size: 20px;
  margin: 0;
}

.home-content p {
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  padding-bottom: 5%;
}

.button {
  --width: 100px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #1163ff;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,
.text {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0;
}
